/* Estilos Globais */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 5px 10px;
}

#navbar a {
    font-size: 14px;
    color: #757575;
}

#navbar a:hover {
    color: #F2A340;
}

.navbar {
    background-color: #f8f9fa;
}

.navbar-brand img {
    width: 40px;
    height: 40px;
}

.navbar-nav {
    display: flex;
    gap: 20px;
    margin-left: 0;
}

.nav-item .nav-link {
    color: #000;
    text-decoration: none;
}

.nav-item .nav-link:hover {
    color: blue;
}

/* Corpo e Cabeçalho */
body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #CCC;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

/* Botões */
.btn-primary {
    background-color: #C28008;
    border: 2px solid #F2A340;
}

.btn-primary:hover {
    background-color: #C28008;
    border-color: #C28008;
}

/* Containers */
#search-container {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #f8f9fa;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

#events-container {
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 10px;
}

#events-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#events-container .card {
    flex: 1 1 100%;
    max-width: 100%;
    border-radius: 10px;
    padding: 0;
    margin: 10px 0;
}

#events-container img {
    width: 100%;
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date {
    font-size: 12px;
    color: #CCC;
}

.card .card-title {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants {
    font-size: 14px;
    color: #757575;
}

/* Footer */
footer {
    text-align: center;
    background-color: #353E48;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}

/* Formulário de Criação/Edição de Evento */
#event-create-container {
    padding: 30px;
}

#event-create-container label {
    font-weight: bold;
}

#event-create-container input,
#event-create-container select, 
#event-create-container textarea {
    font-size: 12px;
} 

/* Página de Evento */
#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
    width: 100%;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
}

#info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3,
#description-container h1 {
    font-size: 20px;
    font-weight: bold;
}

#info-container ion-icon {
    font-size: 20px;
    color: #F2A340;
    margin-right: 5px;
}

#info-container #event-submit {
    margin: 20px 0;
}

.items-list {
    list-style: none;
    padding-left: 0;
}

.items-list li {
    display: flex;
    align-items: center;
}

#description-container {
    margin-top: 30px;
}

/* Dashboard */
.dashboard-title-container {
    margin-bottom: 30px;
    margin-top: 30px;
}

.dashboard-events-container th {
    width: 25%;
}

.dashboard-events-container form {
    display: inline-block;
}

/* Página de Edição */
.img-preview {
    width: 100%;
    margin-top: 20px;
}

.already-joined-msg,
.info-container {
    margin: 15px 0;
    color: #004085;
    background-color: #CCE5FF;
    border: 1px solid #B8DAFF;
    padding: 10px;
    width: 275px;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E8CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    #navbar {
        flex-direction: row;
        justify-content: flex-end;
    }

    .navbar-nav {
        flex-direction: row;
        width: 60%;
    }

    .navbar-nav .nav-item {
        width: 60%;
        justify-content: flex-start;
    }
}

@media (min-width: 576px) {
    #cards-container .card {
        flex: 1 1 48%;
        max-width: 48%;
    }
}

@media (min-width: 768px) {
    #cards-container .card {
        flex: 1 1 32%;
        max-width: 32%;
    }
}

@media (min-width: 992px) {
    #cards-container .card {
        flex: 1 1 24%;
        max-width: 24%;
    }
}